.hero {
  background-image: url('../assets/images/coding.jpg');
  height: 600px;
}
.heroContact {
  background-image: url('../assets/images/contact.jpg');
  height: 600px;
}
.heroTestimonial {
  background-image: url('../assets/images/testimonial.jpg');
  height: 600px;
}
.usersHero {
  background-image: url('../assets/images/users.jpg');
  height: 600px;
}