$hero-height: 600px;

@mixin hero-section($image) {
  background-image: url('../assets/images/#{$image}.jpg');
  height: $hero-height;
};

.hero {
  @include hero-section('coding');
}

.heroContact {
  @include hero-section('contact');
}

.heroTestimonial {
  @include hero-section('testimonial');
}

.usersHero {
  @include hero-section('users');
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-title {
  animation: fadeIn 1s ease-in-out;
}
